absl-py
adjustText==0.7.3
aiohttp
aiosignal
anndata==0.8.0
anndata2ri==1.1
annoy==1.17.1
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
async-timeout
attrs
awscli==1.27.32
backcall
batchglm==0.7.4
beautifulsoup4
bleach
blinker==1.4
bokeh==3.1.1
boto3==1.26.32
botocore==1.29.32
Bottleneck
brotlipy==0.7.0
cachetools
cell2cell==0.6.6
certifi==2022.9.24
cffi==1.15.1
cfgv==3.3.1
charset-normalizer
chex
click
cloudpickle==2.2.0
cmake==3.25.0
colorama==0.4.4
colorcet==3.0.1
commonmark
contextlib2
contourpy==1.0.7
cryptography
cvxopt==1.3.0
cycler
Cython==0.29.32
dask==2022.11.0
debugpy
decorator
decoupler
defusedxml
Deprecated==1.2.13
distlib==0.3.6
dm-tree
docrep
docutils==0.16
doubletdetection==4.2
dunamai==1.14.0
dynamo-release==1.1.0
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
fbpca==1.0
fcsparser==0.2.4
filelock==3.8.0
flatbuffers==22.10.26
flax
fonttools==4.25.0
frozenlist
fsspec
future
gast==0.4.0
gazpacho==1.1
gdown==4.7.1
GEOparse==2.0.3
geosketch==1.2
get_version==3.5.4
ghp-import==2.1.0
gitdb==4.0.9
GitPython==3.1.29
google-auth
google-auth-oauthlib
google-pasta==0.2.0
grpcio
gseapy==1.0.3
GSVA==1.0.6
gtfparse==2.0.1
h5py
hnswlib==0.7.0
identify==2.5.9
idna
igraph==0.10.2
imageio==2.22.4
importlib-metadata
inflect==6.0.4
intervaltree==3.1.0
ipykernel
ipython
ipython-genutils
ipywidgets
jax
jaxlib==0.3.24
jedi
Jinja2
jmespath==1.0.1
joblib
jsonschema
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
keras==2.10.0
Keras-Preprocessing==1.1.2
keyring==23.4.1
kiwisolver
kneed==0.8.2
leidenalg==0.9.0
liana==0.1.7
libclang==14.0.6
llvmlite==0.39.1
locket==1.0.0
loompy==3.0.7
louvain==0.8.0
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mergedeep==1.3.4
mistune
mizani==0.8.1
mkdocs==1.4.2
mkdocs-material==8.5.10
mkdocs-material-extensions==1.1.1
mknotebooks==0.7.1
ml-collections
more-itertools==9.0.0
msgpack
mudata==0.1.2
multidict
multipledispatch
munkres==1.1.4
muon==0.1.3
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
NEURON==8.2.0
newick==1.0.0
nodeenv==1.7.0
nose==1.3.7
notebook
numba
numdifftools==0.9.41
numexpr
numpy
numpy-groupies==0.9.20
numpyro
nxviz==0.7.3
oauthlib
omnipath==1.0.6
openpyxl==3.0.10
opt-einsum
optax
packaging
palantir==1.0.1
palettable==3.3.0
pandas==1.4.4
pandocfilters
param==1.12.2
parso
partd==1.3.0
patsy==0.5.2
pexpect
PhenoGraph==1.5.7
pickleshare
Pillow==9.2.0
platformdirs==2.5.4
plotnine==0.10.1
polars==0.16.18
pre-commit==2.20.0
prometheus-client
prompt-toolkit
protobuf==3.19.6
psutil
ptyprocess
pure-eval
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pybind11==2.10.3
pycparser==2.21
pyct==0.4.8
pydantic==1.10.7
pyDeprecate
pydot==1.4.2
Pygments==2.13.0
PyJWT
pymdown-extensions==9.8
pynndescent
pyOpenSSL
pyparsing
pyro-api
pyro-ppl
pyrsistent
PySocks
python-dateutil
python-igraph==0.10.2
pytorch-lightning
pytz
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==5.4.1
pyyaml_env_tag==0.1
pyzmq
qnorm==0.8.1
requests
requests-oauthlib==1.3.0
rich
rpy2==3.5.10
rsa
s3transfer==0.6.0
scanorama==1.7.2
scanpy==1.9.1
scArches==0.5.8
scgen==2.1.0
scHPL==1.0.2
scib==1.0.4
scikit-image==0.19.3
scikit-learn
scikit-misc==0.1.4
scipy==1.9.3
scrublet==0.2.3
scvelo==0.2.5
scvi-tools
seaborn==0.11.2
Send2Trash
session-info
six
smmap==5.0.0
sortedcontainers==2.4.0
soupsieve
sparse==0.13.0
stack-data
statannotations==0.5.0
statsmodels
stdlib-list
synapseclient==2.7.0
tables==3.7.0
tensorboard==2.10.1
tensorboard-data-server
tensorboard-plugin-wit==1.6.0
tensorflow-estimator==2.10.0
tensorflow-macos==2.10.0
tensorflow-metal==0.6.0
tensorflow-probability==0.18.0
tensorly==0.7.0
termcolor==2.1.0
terminado
testpath
texttable==1.6.4
threadpoolctl
tifffile==2022.10.10
toml==0.10.2
toolz
torch
torchmetrics
tornado
tqdm
traitlets
truncated-normal==0.4
typing_extensions
tzdata==2022.6
tzlocal==4.2
umap-learn
UpSetPlot==0.8.0
urllib3
virtualenv==20.16.7
watchdog==2.1.9
wcwidth
webencodings==0.5.1
Werkzeug
widgetsnbextension
wrapt==1.14.1
xlrd
xyzservices==2023.5.0
yarl
zipp